p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 100px;
}

.mybutton {
	height: 100px;
	width: 150px;
	border-radius: 10px;
	font-size: 40px;
	color: blue;
}

.lower {
	margin-left: 300px;
}

.higher {
	margin-top: 50px;
	margin-left: 200px;
}

.repeat {
	margin-top: 100px;
	margin-left: 500px;
}

.start {
	color:green;
	height: 40px;
	width: 80px;
	font-size: 20px;
	margin: 100px 50px 75px;
}